#app {
    margin: 0 0 0 0;
    padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

/***********************  Navbar ********************/

.navbar.nav-white {
  background-color: #fff!important;
  box-shadow: none;
}

.navbar-nav.ml-auto.nav-cta span {
  display: flex;
}

.nav-cta .nav-signup > .nav-link{
  background-color: #fb7756;
  border-radius: 50px;
  color: white;
  margin-left: .8rem;
  transition: all .4s;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}

.nav-cta .nav-signup > .nav-link:hover {
  background-color: #fa6b47;
  color: white;
  transform: translatey(-1px);
  box-shadow: -1px 10px 20px 0 rgba(0,0,0,0.1);
}

.nav-cta .nav-signup > .nav-link:focus {
  color: rgba(255,255,255,1);
  outline: none;
}

.dashboard-v-nav {
  background: hsla(12, 96%, 63%, 1);
  width: 15%;
  padding-top: 2rem;
  position: fixed;
  height: 100%;
  left: 0
}

.dashboard-v-nav .nav-item {
  line-height: 3.5;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.dashboard-v-nav .nav-item a {
  color: white;
  font-size: .9rem;
}

.dashboard-v-nav .nav-item a.disabled {
  opacity: .5;
}

/***********************  Font ********************/

.playfair-bold {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/***********************  HomePage ********************/

.why-section {
  position: relative;
}

.why-section::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  height: 90%;
  background-color: #fb7756;
  z-index: -1;
}

.why-box {
  background-color: #fbfbfb;
  padding: 4rem
}

.why-box ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 80px;
  padding-left: 0;
  margin: 4rem 0 3rem 0;
}

.why-box hr {
  display: none;
}

.why-box ul li {
  /*border-left: 1px solid #fb7756;
  padding-left: 30px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-box ul li svg {
  height: 45px;
  margin-bottom: 15px;
  align-self: center;
  width: auto;
  max-width: 100%;
  display: block;
}

.why-box p.suggest {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.3rem;
}

.why-box .lead .btn-more {
  background-color: #fb7756;
  border-radius: 50px;
  padding: .8rem 2rem;
  box-shadow: none;
  text-transform: none;
  color: #fff;
}

.why-box .lead .btn-more:hover {
  background-color: #fa6b47;
  color: white;
  transform: translatey(-1px);
  box-shadow: -1px 10px 20px 0 rgba(0,0,0,0.1);
}

.how-section {
  background-color: #fff;
}

.how-section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  padding-left: 0;
  text-align: left;
  margin-top: 2rem;
}

.how-section ul li {
  background-color: #117c8d;
  padding: 5px 30px 25px;
  display: flex;
  align-items: center;
  border-radius: .3rem;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.how-section ul li span {
    font-size: 4rem;
    font-family: "Playfair Display", Helvetica, Arial, sans-serif;
    line-height: 1;
    margin-bottom: 1.2rem;
    padding-right: 1.5rem;
}

/***********************  Pricing ********************/

section#pricing::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-color: #fbfbfb;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}

.pricing-card {
  box-shadow: none;
  background-color: #fb7756;
  border: none;
}

.pricing-card-header {
  background-color: transparent;
  padding: 1.25rem;
}

.pricing-card-header h4 {
  font-size: 2rem
}

.pricing-card-header h4 span{
  font-size: 1rem
}

.pricing-card-body ul li {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255, .10);
}

.pricing-card-footer {
  background-color: transparent;
  border: none;
  padding: 1.25rem;
}

.pricing-card-footer .btn-card-footer {
  background-color: #fb7756;
  border-radius: 50px;
  padding: .8rem 2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  border: 1px solid #fff;
  color: #fff;
}

.pricing-card-footer .btn-card-footer:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #fb7756;
}

/***********************  FAQ  ********************/

.faq-card {
  box-shadow: none;
  border: none;
}

.faq-card-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(251, 119, 86, .125);
}

.faq-card-header:focus {
  outline: none;
}

.faq-card-header .btn-link {
  color: #fb7756;
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: #fff
}

.faq-card-header .btn-link:hover {
  color: #2c3e50;
  background-color: #fff
}

.faq-card-header .btn-link:active {
  color: #2c3e50!important;
  background-color: #fff!important;
  border-color: #fff!important;
  box-shadow: none;
}

/***********************  Forms  ********************/

.form-wrapper {
  padding: 4rem 1.5rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#login, 
section#signup,  
section#dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section#login::before,
section#signup::before,
section#dashboard::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70%;
  background-color: #fb7756;
  z-index: -1;
}

.login-form .form-control,
.signup-form .form-control {
  padding: 0 24px;
  width: 100%;
  border-radius: 50px;
  height: 57px;
  box-shadow: none!important;
  border: 1px solid #dcdcdc;
}

.login-form .form-control:focus,
.signup-form .form-control:focus {
  outline: none;
  border: 1px solid #fb7756; 
}

.login-form .btn-form-submit,
.signup-form .btn-form-submit {
  background-color: #fb7756;
  border-radius: 50px;
  padding: .8rem 2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  color: #fff;
  border: none;
  max-width: 14em;
  width: 100%;
  transition: all .4s;
}

.login-form .btn-form-submit:hover,
.signup-form .btn-form-submit:hover {
  background-color: #fa6b47;
  color: white;
  transform: translatey(-1px);
  box-shadow: -1px 10px 20px 0 rgba(0,0,0,0.1);
}

/***********************  Dash  ********************/

section#dashboard {
  margin-left: 15%;
}

/***********************  Stats  ********************/

.stats {
  background-color: hsla(188, 78%, 31%, 1);
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 1px 4px 20px 0px rgba(0,0,0,.1);
  color: white;
}

.stats h3 {
  border-bottom: 1px solid hsla(188, 82%, 27%, 1);
  font-weight: bold;
}

.stats .stat {
  padding: 1.5rem;
}

.stats .stat h5 {
  font-size: 1rem;
  opacity: .7;
}

.stats .stat p {
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 1;
}


/***********************  User Cards  ********************/

.flex-wrapper {
  display: flex;
  flex: 1;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-row-gap: 30px;
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
  justify-content: center;
  padding-right: 0;
}

.user-cards .user-card {
  border-radius: .3rem;
  box-shadow: none;
  border: none;
  min-height: 180px;
} 

.user-cards .user-card .card-title {
  font-size: 1rem;
  margin-bottom: 0;
}

.user-cards .user-card .user-card-body {
  line-height: 2.5rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-cards .user-card .user-card-body input {
  padding: 0 24px;
  width: 100%;
  border-radius: 50px;
  height: 47px;
  box-shadow: none!important;
  border: 1px solid #dcdcdc;
  transition: all .4s;
}

.user-cards .user-card .user-card-body input:focus {
  outline: none;
  border: 1px solid #fb7756; 
}

.user-cards .user-card .user-card-footer {
  border-top: none;
  padding: 1.25rem;
}

.user-cards .user-card .user-card-footer .btn-user-card-footer {
  border-radius: 50px;
  padding: .8rem 2rem;
  box-shadow: none;
  text-transform: none;
  color: #fff;
  transition: all .4s
}

.user-cards .user-card .user-card-footer .btn-user-card-footer:hover {
  transform: translatey(-1px);
  box-shadow: -1px 10px 20px 0 rgba(0,0,0,0.1);
}
.user-cards .user-card .user-card-footer .btn-add {
  border-radius: 50px;
  padding: .8rem 2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  border: none;
  background-color: #fb7756; 
}

.user-cards .user-card .user-card-footer .btn-add:hover {
  background-color: #fa6b47;
  color: white;
  transform: translatey(-1px);
  box-shadow: -1px 10px 20px 0 rgba(0,0,0,0.1);
}

/***********************  Buttons ********************/

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}

.btn-google:hover {
  color: #fff;
  background-color: #8a170d;
  border-color: #e6e6e6;
}

.btn-google:focus,
.btn-google.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-google.disabled,
.btn-google:disabled {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}

.btn-google:not(:disabled):not(.disabled):active,
.btn-google:not(:disabled):not(.disabled).active,
.show>.btn-google.dropdown-toggle {
  color: #fff;
  background-color: #d62516;
  border-color: #dfdfdf;
}

.btn-google:not(:disabled):not(.disabled):active:focus,
.btn-google:not(:disabled):not(.disabled).active:focus,
.show>.btn-google.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #e6e6e6;
}

.btn-facebook:focus,
.btn-facebook.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook.disabled,
.btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
}

.btn-facebook:not(:disabled):not(.disabled):active,
.btn-facebook:not(:disabled):not(.disabled).active,
.show>.btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #dfdfdf;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus,
.btn-facebook:not(:disabled):not(.disabled).active:focus,
.show>.btn-facebook.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-link:focus, .btn-link:hover {
  text-decoration: none;
}

button:focus, .btn:focus {
  outline: none;
}

/***********************  Footer  ********************/

.footer {
  background-color: #97d5ee;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

/***********************  Card ********************/

.card-disable {
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
}

/***********************  TOP Bar ********************/
.sidebar {
  width: 220px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

/***********************  Dashboard ********************/
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: .5rem 1rem;
  margin: 0 .5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: .35rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }

  .nav-cta .nav-link.nav-signup {
    padding-right: 1.5rem;
    padding-left: 1.5rem; 
  }

}

@media (max-width: 991.98px) {
  .user-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .flex-wrapper {
    flex-direction: column;
  }

  section#dashboard {
    margin-left: 0;
  }

  .dashboard-v-nav {
    width: 100%;
    padding-top: 0;
    position: relative;
  }

  .user-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .user-card-add {
    grid-row-start: 1;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }

  .navbar-light .navbar-toggler:focus {
    outline: none;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 119, 86, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-cta {
    border-top: 2px solid #fbfbfb;
  }

  .nav-cta span {
    display: flex;
    flex-direction: column
  }
}

@media (max-width: 575.98px) {
  .why-box {
    padding: 2rem;
  }

  .why-box ul {
    grid-row-gap : 40px;
  }

  .how-section ul {
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    word-break: break-word;
  }

  footer .navbar {
    position: relative;
    width: 100%;
    flex-direction: column;
    font-size: 14px;
    line-height: 1;
  }

  .display-4 {
    font-size: 3rem
  }
}
