<template>
  <div class="flex-wrapper">
    <b-nav vertical class="dashboard-v-nav">
      <b-nav-item active to="/dashboard">Dashboard</b-nav-item>
      <b-nav-item disabled to="/alias">Alias</b-nav-item>
      <b-nav-item disabled to="/superpower-1">Superpower 1</b-nav-item>
      <b-nav-item disabled to="/superpower-2">Superpower 2</b-nav-item>
    </b-nav>
    <section id="dashboard" class="pt-5 pb-4">
      <div class="container">
        <h1 class="playfair-bold mb-5">Le dashboard de {{ userName }}</h1>
        <div class="stats col-md-10 mx-auto">
          <h3 class="pt-2 pb-4 t-bold">Statistiques</h3>
          <div class="row">
            <div class="col-md-3">
              <div class="stat">
                <h5 class="m-0">Metrique 1</h5>
                <p class="playfair-bold">20</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stat">
                <h5 class="m-0">Metrique 2</h5>
                <p class="playfair-bold">20</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stat">
                <h5 class="m-0">Metrique 3</h5>
                <p class="playfair-bold">20</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stat">
                <h5 class="m-0">Metrique 4</h5>
                <p class="playfair-bold">20</p>
              </div>
            </div>
          </div>
        </div>
        <b-alert
          v-if="errors.length"
          show
          dismissible
          fade
          shadow-sm
          variant="danger"
          class="col-md-10 mx-auto"
        >
          <h4 class="alert-heading">Please correct the following error(s):</h4>
          <ul class="list-unstyled mb-0">
            <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
          </ul>
        </b-alert>
        <ul class="user-cards col-md-10 mx-auto">
          <!-- <li v-for="(alias, index) in aliases" v-bind:key="index">
          <span>{{ alias.email }} <button type="button" class="btn btn-danger" @click="deleteAlias(alias.id)"><i class="fa fa-trash-o fa-lg"></i> Delete</button></span>
          </li>-->
          <li v-for="(alias, index) in aliases" v-bind:key="index">
            <div class="card user-card">
              <div class="card-body user-card-body">
                <h5 class="card-title user-card-title">{{ alias.email }}</h5>
              </div>
              <div class="card-footer user-card-footer">
                <button
                  type="button"
                  class="btn btn-danger btn-user-card-footer"
                  @click="deleteAlias(alias.id)"
                >
                  <i class="fa fa-trash-o fa-lg"></i> Delete
                </button>
              </div>
            </div>
          </li>
          <li class="user-card-add">
            <div class="card user-card">
              <div class="card-body user-card-body">
                <input type="text" v-model="newAlias" />@mailcape.com
              </div>
              <div class="card-footer user-card-footer">
                <button class="btn-add" type="button" @click="addAlias(newAlias)">Add</button>
              </div>
            </div>
          </li>
        </ul>
        <!-- <span> <input type="text" v-model="newAlias" />@mailcape.com <button type="button" @click="addAlias(newAlias)">Add</button> </span> -->
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Dashboard",
  data: () => ({
    newAlias: "",
    listKey: 0,
    aliases: [],
    errors: []
  }),
  created() {
    this.getAliasList();
  },
  methods: {
    deleteAlias(id) {
      this.errors = [];
      axios.defaults.headers.common[
        "Authorization"
      ] = this.$store.getters.token;
      axios({
        url: "https://api.mailcape.com/v1/alias/" + id,
        method: "DELETE"
      }).catch(err => {
        this.errors.push(err);
      });

      if (!this.errors.length) {
        for (var i = 0; i < this.aliases.length; i++)
          if (this.aliases[i].id === id) {
            this.aliases.splice(i, 1);
            break;
          }
      }
    },
    rerender() {
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    getAliasList() {
      axios.defaults.headers.common[
        "Authorization"
      ] = this.$store.getters.token;
      axios({ url: "https://api.mailcape.com/v1/alias", method: "GET" })
        .then(resp => {
          this.aliases = resp.data;
        })
        .catch(err => {
          alert("error");
          this.errors.push(err);
        });
    },
    addAlias(alias) {
      this.errors = [];
      axios.defaults.headers.common["Authorization"] = this.$store.token;
      axios({
        url: "https://api.mailcape.com/v1/alias",
        data: {
          test: "test",
          id_account: this.$store.state.user_id,
          email: alias + "@mailcape.com",
          dst_email: this.$store.state.dst_email,
          class: "disposable"
        },
        method: "POST"
      }).catch(err => {
        this.errors.push(err);
      });

      if (!this.errors.length) {
        this.getAliasList();
        // this.$router.push('dashboard');
      }
    }
  },

  computed: {
    ...mapGetters({
      token: "token",
      userName: "userName"
    })
  }
};
</script>

<style scoped>
</style>

