<template>
  <section id="faq" class="pt-5">
    <div class="px-3 py-4 pt-md-5 pb-md-5 mx-auto text-center">
      <h1 class="h1 mb-0 text-gray-800 playfair-bold">Frequently Asked Questions</h1>
    </div>

    <div id="accordion">
      <div class="container">
        <div role="tablist">
          <b-card no-body class="mb-1 card faq-card">
            <b-card-header header-tag="header" class="p-1 card-header faq-card-header" role="tab">
              <b-button
                class="btn btn-link"
                block
                href="#"
                v-b-toggle.collapseOne
                variant="info"
              >Q: What is this master alias?</b-button>
            </b-card-header>
            <b-collapse id="collapseOne" visible accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>
                  Your master alias is just a permanent unique alias in the form yourmasteralias@mailcape.com dedicated to you. You should not give this alias, to anybody as you can use it to communicate with the mailcape service to access some features. For example, if you want to be notified when a site is down you can send an email with a special syntax to yourmasteralias@mailcape.com asking so. When the site will be up you'll get a notification to the email address you gave when registering. To make it even simpler let's just pretend that this master alias is the email of
                  <strong>your</strong> personal assistant at mailcape (and in a sense, it is).
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1 card faq-card">
            <b-card-header header-tag="header" class="p-1 card-header faq-card-header" role="tab">
              <b-button
                class="btn btn-link"
                block
                href="#"
                v-b-toggle.collapseTwo
                variant="info"
              >Q: What if I gave my master alias instead of a disposable one?</b-button>
            </b-card-header>
            <b-collapse id="collapseTwo" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>Oh no! You're doomed...No seriously you shouldn't do that, but that's ok. You'll just have to choose another master alias, and the previous one will become a disposable alias. Needless to say, it's a one click operation.</b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1 card faq-card">
            <b-card-header header-tag="header" class="p-1 card-header faq-card-header" role="tab">
              <b-button
                class="btn btn-link"
                block
                href="#"
                v-b-toggle.collapseThree
                variant="info"
              >Q: Is that really free and anonymous?</b-button>
            </b-card-header>
            <b-collapse id="collapseThree" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>The free plan is and will remain free (as beer) and yes we enforce your anonimyty by not storing logs, giving/selling your email to anybody. We plan to offer additional features on paid plan because we do NOT want to make this service profitable by selling your data.</b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1 card faq-card">
            <b-card-header header-tag="header" class="p-1 card-header faq-card-header" role="tab">
              <b-button
                class="btn btn-link"
                block
                href="#"
                v-b-toggle.collapseFour
                variant="info"
              >Q: Why would I use mailcape instead of creating my own email aliases?</b-button>
            </b-card-header>
            <b-collapse id="collapseFour" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <b-card-text>First, because administrating a mail server require some decent knowledge, work and resources. Then because you might want to have a little more privacy using the anonimity of the service. And above all because mailcape is more than just an email alias service. We plan to give some superpowers to your master alias...</b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Homepage",
  data: () => ({})
};
</script>

<style scoped>
</style>
