<template>
  <footer>
    <nav class="navbar navbar-expand-sm fixed-bottom navbar-light bg-white">
        <div class="navbar-nav mr-md-auto">
          <router-link to="/" class="nav-item nav-link">&copy;2019 Mailcape</router-link>
        </div>
        <div class="navbar-nav ml-md-auto">
          <router-link to="/" class="nav-item nav-link">Legal mentions</router-link>
          <router-link to="/" class="nav-item nav-link">Politique de confidentialité</router-link>
        </div>
    </nav>
  </footer>
</template>

<script>
export default {
  name: "FooterBar",

  data: () => ({})
};
</script>

<style scoped>
</style>

