<template>
  <div>
    <section id="home" class="pt-5 pb-5">
      <div class="why-section">
        <div class="container">
          <div class="jumbotron why-box mb-5">
            <h1 class="display-4 playfair-bold">Why Mailcape?</h1>
            <hr class="my-4" />
            <ul>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                >
                  <path
                    fill="transparent"
                    d="M34 105h80c5.5 0 10-4.5 10-10V33c0-5.5-4.5-10-10-10H34c-5.5 0-10 4.5-10 10v62c0 5.5 4.5 10 10 10z"
                  />
                  <path
                    fill="#fb7756"
                    d="M114 108H19c-1.7 0-3-1.3-3-3s1.3-3 3-3h95c3.9 0 7-3.2 7-6V46c0-1.7 1.3-3 3-3s3 1.3 3 3v50c0 6.4-6.1 12-13 12z"
                  />
                  <path
                    fill="#fb7756"
                    d="M74 69c-14.2 0-27.4-5.6-37.2-15.9-1.1-1.2-1.1-3.1.1-4.2 1.2-1.1 3.1-1.1 4.2.1 8.7 9 20.3 14 32.8 14 12.5 0 24.2-5 32.8-14 1.1-1.2 3-1.2 4.2-.1s1.2 3 .1 4.2C101.4 63.4 88.2 69 74 69zM24 48c-1.7 0-3-1.3-3-3V33c0-7.2 5.8-13 13-13h80c7.2 0 13 5.8 13 13 0 1.7-1.3 3-3 3s-3-1.3-3-3c0-3.9-3.1-7-7-7H34c-3.9 0-7 3.1-7 7v12c0 1.7-1.3 3-3 3zM24 68h-7c-1.7 0-3-1.3-3-3s1.3-3 3-3h7c1.7 0 3 1.3 3 3s-1.3 3-3 3zM4 108c-.2 0-.4 0-.6-.1-.2 0-.4-.1-.6-.2-.2-.1-.3-.2-.5-.3-.2-.1-.3-.2-.5-.4-.5-.4-.8-1.2-.8-2s.3-1.6.9-2.1c.1-.1.3-.3.5-.4.2-.1.3-.2.5-.3.2-.1.4-.1.6-.2 1-.2 2 .1 2.7.8l.4.4c.1.2.2.3.3.5.1.2.1.4.2.6 0 .2.1.4.1.6 0 .8-.3 1.6-.9 2.1-.7.7-1.5 1-2.3 1zM34 88H9c-1.7 0-3-1.3-3-3s1.3-3 3-3h25c1.7 0 3 1.3 3 3s-1.3 3-3 3z"
                  />
                </svg>
                You want to get this whitepaper but don't want to give your email and be spammed.
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                >
                  <path
                    fill="transparent"
                    d="M107 50c0 23.7-19.3 43-43 43-10.3 0-19.8-3.6-27.2-9.7C27.1 75.4 21 63.4 21 50 21 26.3 40.3 7 64 7s43 19.3 43 43z"
                  />
                  <path
                    fill="#fb7756"
                    d="M64 61.4c-10.3 0-18.6-8.4-18.6-18.6S53.7 24.1 64 24.1s18.6 8.4 18.6 18.6S74.3 61.4 64 61.4zm0-31.3c-7 0-12.6 5.7-12.6 12.6S57 55.4 64 55.4s12.6-5.7 12.6-12.6S71 30.1 64 30.1zM44.8 79c-.9 0-1.7-.4-2.3-1.1-1.1-1.3-.9-3.2.4-4.2 5.9-5 13.4-7.7 21.1-7.7 1.7 0 3 1.3 3 3s-1.3 3-3 3c-6.3 0-12.5 2.2-17.3 6.3-.6.4-1.2.7-1.9.7z"
                  />
                  <path
                    fill="#fb7756"
                    d="M83 79c-.7 0-1.4-.2-1.9-.7-4.8-4-11-6.3-17.3-6.3-1.7 0-3-1.3-3-3s1.3-3 3-3c7.7 0 15.2 2.7 21.2 7.7 1.3 1.1 1.4 3 .4 4.2-.7.7-1.5 1.1-2.4 1.1z"
                  />
                  <path
                    fill="#fb7756"
                    d="M64 96c-10.6 0-21-3.7-29.1-10.4C24.1 76.8 18 63.8 18 50 18 24.6 38.6 4 64 4s46 20.6 46 46-20.6 46-46 46zm0-86c-22.1 0-40 17.9-40 40 0 12 5.3 23.3 14.7 31 7.1 5.8 16.1 9 25.3 9 22.1 0 40-17.9 40-40S86.1 10 64 10z"
                  />
                  <path
                    fill="#fb7756"
                    d="M94 111H34c-1.7 0-3-1.3-3-3s1.3-3 3-3h60c1.7 0 3 1.3 3 3s-1.3 3-3 3zM69 126H44c-1.7 0-3-1.3-3-3s1.3-3 3-3h25c1.7 0 3 1.3 3 3s-1.3 3-3 3zM84 126c-.8 0-1.6-.3-2.1-.9-.6-.6-.9-1.3-.9-2.1 0-.2 0-.4.1-.6 0-.2.1-.4.2-.6.1-.2.2-.3.3-.5.1-.2.2-.3.4-.5 1.1-1.1 3.1-1.1 4.2 0 .6.6.9 1.3.9 2.1s-.3 1.6-.9 2.1c-.6.7-1.4 1-2.2 1z"
                  />
                </svg>
                You want to signup and test this new service, but you're not sure yet about leaving your address email.
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                >
                  <path
                    fill="transparent"
                    d="M34 86h80c5.5 0 10-4.5 10-10V14c0-5.5-4.5-10-10-10H34c-5.5 0-10 4.5-10 10v62c0 5.5 4.5 10 10 10z"
                  />
                  <path
                    fill="transparent"
                    d="M84 74a10 10 0 100 20 10 10 0 100-20zm-48 50v-14c0-8.8 7.2-16 16-16s16 7.2 16 16v14"
                  />
                  <path
                    fill="#fb7756"
                    d="M24 59c-1.7 0-3-1.3-3-3V27c0-1.7 1.3-3 3-3s3 1.3 3 3v29c0 1.7-1.3 3-3 3zm90 30c-1.7 0-3-1.3-3-3s1.3-3 3-3c3.9 0 7-3.2 7-6V27c0-1.7 1.3-3 3-3s3 1.3 3 3v50c0 6.4-6.1 12-13 12zM74 50c-14.2 0-27.4-5.6-37.2-15.9-1.1-1.2-1.1-3.1.1-4.2 1.2-1.1 3.1-1.1 4.2.1 8.7 9 20.3 14 32.8 14 12.5 0 24.2-5 32.8-14 1.1-1.2 3-1.2 4.2-.1s1.2 3 .1 4.2C101.4 44.4 88.2 50 74 50zM124 17c-1.7 0-3-1.3-3-3 0-3.9-3.1-7-7-7H34c-3.9 0-7 3.1-7 7 0 1.7-1.3 3-3 3s-3-1.3-3-3c0-7.2 5.8-13 13-13h80c7.2 0 13 5.8 13 13 0 1.7-1.3 3-3 3z"
                  />
                  <path
                    fill="transparent"
                    d="M4 124v-4c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16v4H4zM20 74a10 10 0 100 20 10 10 0 100-20z"
                  />
                  <g fill="#fb7756">
                    <path
                      d="M20 97c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zm0-20c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm66 50H4c-1.7 0-3-1.3-3-3v-4c0-10.5 8.5-19 19-19 1.7 0 3 1.3 3 3s-1.3 3-3 3c-7.2 0-13 5.8-13 13v1h79c1.7 0 3 1.3 3 3s-1.3 3-3 3zm-2-30c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zm0-20c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zM52 87c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zm0-20c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7z"
                    />
                    <path
                      d="M68 127c-1.7 0-3-1.3-3-3v-14c0-7.2-5.8-13-13-13s-13 5.8-13 13v14c0 1.7-1.3 3-3 3s-3-1.3-3-3v-14c0-10.5 8.5-19 19-19s19 8.5 19 19v14c0 1.7-1.3 3-3 3z"
                    />
                  </g>
                  <path
                    fill="#fb7756"
                    d="M100 127c-1.7 0-3-1.3-3-3v-4c0-7.2-5.8-13-13-13-1.7 0-3-1.3-3-3s1.3-3 3-3c10.5 0 19 8.5 19 19v4c0 1.7-1.3 3-3 3z"
                  />
                </svg>
                You know about email alias but they're too cumbersome to create/manage.
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                  style=" fill:#fb7756;"
                >
                  <path
                    fill="transparent"
                    d="M114,111V41c0-5.5-4.5-10-10-10H24c-5.5,0-10,4.5-10,10v70H4v3c0,5.5,4.5,10,10,10h100c5.5,0,10-4.5,10-10v-3H114z"
                  />
                  <path
                    fill="#fb7756"
                    d="M95,62c-12.1,0-22-9.9-22-22c0-6,2.4-11.6,6.7-15.8c4.3-4.2,10-6.4,16.1-6.2c11.7,0.4,21.2,10.5,21.2,22.4V41c0,5-4,9-9,9s-9-4-9-9v-1.3c0-2-1.7-3.7-3.7-3.7c-2.3,0-4.2,1.7-4.3,3.9c0,1.1,0.4,2.1,1.1,2.9c0.8,0.8,1.8,1.2,2.9,1.2c1.7,0,3,1.3,3,3s-1.3,3-3,3c-2.7,0-5.3-1.1-7.2-3c-1.9-2-2.9-4.5-2.8-7.3c0.2-5.3,4.8-9.7,10.3-9.7c5.4,0,9.7,4.4,9.7,9.7V41c0,1.7,1.3,3,3,3s3-1.3,3-3v-0.5c0-8.8-6.9-16.1-15.4-16.4c-4.4-0.1-8.5,1.4-11.7,4.5c-3.2,3-4.9,7.1-4.9,11.5c0,8.8,7.2,16,16,16c1.7,0,3,1.3,3,3S96.7,62,95,62z"
                  />
                  <path
                    fill="#fb7756"
                    d="M74,114H54c-1.7,0-3-1.3-3-3s1.3-3,3-3h20c1.7,0,3,1.3,3,3S75.7,114,74,114z"
                  />
                  <path
                    fill="#fb7756"
                    d="M114 127H14c-7.2 0-13-5.8-13-13v-3c0-1.7 1.3-3 3-3h35c1.7 0 3 1.3 3 3s-1.3 3-3 3H7c0 3.9 3.1 7 7 7h100c3.9 0 7-3.1 7-7H89c-1.7 0-3-1.3-3-3s1.3-3 3-3h35c1.7 0 3 1.3 3 3v3C127 121.2 121.2 127 114 127zM14 103c-1.7 0-3-1.3-3-3V41c0-7.2 5.8-13 13-13h37c1.7 0 3 1.3 3 3s-1.3 3-3 3H24c-3.9 0-7 3.1-7 7v59C17 101.7 15.7 103 14 103zM114 103c-1.7 0-3-1.3-3-3V61c0-1.7 1.3-3 3-3s3 1.3 3 3v39C117 101.7 115.7 103 114 103z"
                  />
                </svg>
                You expect more from your email than just receiving message.
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                >
                  <path
                    fill="#fb7756"
                    d="M111.5 121.7h-79c-1.7 0-3-1.3-3-3s1.3-3 3-3h79c3.9 0 7-3.1 7-7V37c0-1.7 1.3-3 3-3s3 1.3 3 3v71.6c0 7.2-5.8 13.1-13 13.1z"
                  />
                  <path
                    fill="#fb7756"
                    d="M97.5 105.7h-79c-5.5 0-10-4.5-10-5V29c0-10.5 4.5-15 10-15h79c5.5 0 10 4.5 10 15v71.6c0 .6-4.5 5.1-10 5.1z"
                  />
                  <path
                    fill="#fbfbfb"
                    d="M97.5 105.7h-79c-5.5 0-10-4.5-10-10V34h99v61.6c0 5.6-4.5 10.1-10 10.1z"
                  />
                  <path
                    fill="#fb7756"
                    d="M97.5 108.7h-79c-7.2 0-13-5.8-13-13V34c0-1.7 1.3-3 3-3s3 1.3 3 3v61.6c0 3.9 3.1 7 7 7h79c3.9 0 7-3.1 7-7V34c0-1.7 1.3-3 3-3s3 1.3 3 3v61.6c0 7.2-5.8 13.1-13 13.1z"
                  />
                  <path
                    fill="#fb7756"
                    d="M107.5 37c-1.7 0-3-1.3-3-3V24c0-3.9-3.1-7-7-7h-79c-3.9 0-7 3.1-7 7v10c0 1.7-1.3 3-3 3s-3-1.3-3-3V24c0-7.2 5.8-13 13-13h79c7.2 0 13 5.8 13 13v10c0 1.7-1.3 3-3 3z"
                  />
                  <path
                    fill="#fff"
                    d="M18.5 27c-.2 0-.4 0-.6-.1-.2 0-.4-.1-.6-.2-.2-.1-.3-.2-.5-.3-.2-.1-.3-.2-.5-.4s-.3-.3-.4-.5c-.1-.2-.2-.3-.3-.5-.1-.2-.1-.4-.2-.6s-.1-.4-.1-.6c0-.8.3-1.6.9-2.1.1-.1.3-.3.5-.4.2-.1.3-.2.5-.3.2-.1.4-.1.6-.2 1-.2 2 .1 2.7.8.6.6.9 1.3.9 2.1 0 .2 0 .4-.1.6s-.1.4-.2.6c-.1.2-.2.4-.3.5-.1.2-.2.3-.4.5-.3.8-1.1 1.1-1.9 1.1zm10 0c-.8 0-1.6-.3-2.1-.9-.6-.6-.9-1.3-.9-2.1s.3-1.6.9-2.1c.1-.1.3-.3.5-.4.2-.1.3-.2.5-.3.2-.1.4-.1.6-.2.4-.1.8-.1 1.2 0 .2 0 .4.1.6.2.2.1.4.2.5.3.2.1.3.2.5.4.6.6.9 1.3.9 2.1s-.3 1.6-.9 2.1c-.7.6-1.5.9-2.3.9zm10 0c-.2 0-.4 0-.6-.1-.2 0-.4-.1-.6-.2-.2-.1-.3-.2-.5-.3-.2-.1-.3-.2-.5-.4s-.3-.3-.4-.5c-.1-.2-.2-.3-.3-.5-.1-.2-.1-.4-.2-.6s-.1-.4-.1-.6c0-.8.3-1.6.9-2.1.1-.1.3-.3.5-.4.2-.1.3-.2.5-.3.2-.1.4-.1.6-.2 1-.2 2 .1 2.7.8.6.6.9 1.3.9 2.1 0 .2 0 .4-.1.6s-.1.4-.2.6c-.1.2-.2.4-.3.5-.1.2-.2.3-.4.5-.3.8-1.1 1.1-1.9 1.1z"
                  />
                </svg>
                You know that reusing your email address on multiple site put you at risk.
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 128 128"
                >
                  <path fill="transparent" d="M64 16.5a47.5 47.5 0 100 95 47.5 47.5 0 100-95z" />
                  <path
                    fill="#fb7756"
                    d="M69 92H59c-1.7 0-3-1.3-3-3s1.3-3 3-3h10c1.7 0 3 1.3 3 3s-1.3 3-3 3z"
                  />
                  <path
                    fill="#fb7756"
                    d="M64 67c-1.7 0-3-1.3-3-3V34c0-1.7 1.3-3 3-3s3 1.3 3 3v30c0 1.7-1.3 3-3 3z"
                  />
                  <path
                    fill="#fb7756"
                    d="M84 67H64c-1.7 0-3-1.3-3-3s1.3-3 3-3h20c1.7 0 3 1.3 3 3s-1.3 3-3 3z"
                  />
                  <path fill="#fb7756" d="M64 58a6 6 0 100 12 6 6 0 100-12z" />
                  <path
                    fill="#fb7756"
                    d="M64 114.5c-27.8 0-50.5-22.7-50.5-50.5S36.2 13.5 64 13.5s50.5 22.7 50.5 50.5-22.7 50.5-50.5 50.5zm0-95c-24.5 0-44.5 20-44.5 44.5s20 44.5 44.5 44.5 44.5-20 44.5-44.5-20-44.5-44.5-44.5z"
                  />
                </svg>
                You want to regain control of your time and reduce the amount of email received during your productive hours.
              </li>
            </ul>
            <div>
              <br />
              <p class="suggest">Then Mailcape is made for you.</p>
            </div>
            <p class="lead">
              <a class="btn btn-primary btn-lg btn-more" href="#how-to" role="button">Learn more</a>
            </p>
          </div>
        </div>
      </div>
      <div class="how-section" id="how-to">
        <div class="container">
          <div class="px-3 py-4 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="h1 mb-0 text-gray-800 playfair-bold">How does it work?</h1>
          </div>
          <ul>
            <li>
              <span>1.</span>
              You register to mailcape.com using your private email address and get a master alias.
            </li>

            <li>
              <span>2.</span>
              From now on, you can create disposable email address (alias) in the form whateeveravalaiblenameyouwant@mailcape.com. It's as simple as choosing a name and clicking the create button.
            </li>
            <li>
              <span>3.</span>
              You can then use a disposable alias every time a service ask for an email (to register, to send you an ebook...).
            </li>

            <li>
              <span>4.</span>
              From now on, every mail sent to this disposable alias will be secretly redirected to your private email address.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Homepage",
  data: () => ({})
};
</script>

<style scoped>
</style>

