<template>
  <section id="login" class="pt-5">
    <!-- <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
      </ul>
    </p>-->
    <div class="container">
      <b-alert v-if="errors.length" show dismissible fade shadow-sm variant="danger">
        <h4 class="alert-heading">Please correct the following error(s):</h4>
        <ul class="list-unstyled mb-0">
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </ul>
      </b-alert>
    </div>
    <div class="px-3 py-4 pt-md-5 pb-md-5 mx-auto text-center">
      <h1 class="h1 mb-0 text-gray-800 playfair-bold">Log in</h1>
    </div>
    <div class="container">
      <div class="form-wrapper col-md-6 mx-auto">
        <form
          class="login-form"
          method="post"
          action="https://api.mailcape.com/login_check"
          @submit.prevent="checkForm"
        >
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="text"
              name="email"
              v-model="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="password"
              name="Password"
              v-model="password"
              placeholder="password"
            />
          </div>
          <input class="btn-form-submit" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Homepage",
  data: () => ({
    errors: [],
    email: "",
    password: ""
  }),
  methods: {
    checkForm: function(e) {
      this.errors = [];
      if (!this.email) {
        this.errors.push("Email required.");
        return false;
      }
      let data = {
        email: this.email,
        password: this.password
      };
      this.$store
        .dispatch("login", data)
        .then(() => this.$router.push("/dashboard"))
        .catch(err => this.errors.push(err));
      e.preventDefault();
    }
  }
};
</script>

<style scoped>
</style>

