<template>
  <b-navbar toggleable="md" type="light" variant="light" class="bg-light nav-white sticky-top">
    <b-link to="/" class="navbar-brand">
      <img
        src="../assets/img/mailcape-logo.png"
        alt="Mailcape logo"
        class="d-inline-block align-top"
      />
    </b-link>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="mr-auto">
        <b-nav-item active to="/">{{appTitle}}</b-nav-item>
        <b-nav-item to="/">Overview</b-nav-item>
        <b-nav-item to="/pricing">Pricing</b-nav-item>
        <b-nav-item to="/faq">FAQ</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto nav-cta">
        <span v-if="!isLoggedIn">
          <b-nav-item to="/login">Log In</b-nav-item>
          <b-nav-item to="/signup" class="nav-signup">Sign Up</b-nav-item>
        </span>
        <span v-else>
          <b-nav-item to="/dashboard">Dashboard</b-nav-item>
          <b-nav-item to="/logout" class="nav-signup">Logout {{ userName }}</b-nav-item>
        </span>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "NavBar",

  data() {
    return {
      appTitle: "Mailcape"
    };
  },
  computed: {
    ...mapGetters({
      isLoggedIn: "isLoggedIn",
      userName: "userName"
    })
  }
};
</script>

<style scoped>
</style>

