<template>
  <section id="pricing" class="pt-5">
    <div class="container px-3 py-4 pt-md-5 pb-md-5 mx-auto text-center">
      <h1 class="h1 mb-0 text-gray-800 playfair-bold mb-4">Pricing</h1>
      <p
        class="lead"
      >During the beta-test only the free plan is available. All the services included in the free plan are and will be forever free. Ah by the way, we won't sell your data neither...</p>
    </div>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card pricing-card text-white mb-4">
          <div class="card-header pricing-card-header">
            <h4 class="my-0 playfair-bold">
              Free
              <span class="d-block">(forever)</span>
            </h4>
          </div>
          <div class="card-body pricing-card-body">
            <h1 class="card-title pricing-card-title">
              $0
              <small>/ mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 Master Alias (with superpowers (soon))</li>
              <li>10 Disposable aliases</li>
            </ul>
          </div>
          <div class="card-footer pricing-card-footer">
            <a href="#" class="btn btn-lg btn-block btn-primary btn-card-footer">Sign up for free</a>
          </div>
        </div>
        <div class="card mb-4 pricing-card text-white card-disable">
          <div class="card-header pricing-card-header">
            <h4 class="my-0 playfair-bold">Early Adopter</h4>
          </div>
          <div class="card-body pricing-card-body">
            <h1 class="card-title pricing-card-title">
              $5
              <small>/ mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 Master Alias (with superpowers (soon))</li>
              <li>More superpowers (soon)</li>
              <li>Unlimited Disposable aliases</li>
              <li>10 Permanent aliases</li>
              <li>Priority email support</li>
            </ul>
          </div>
          <div class="card-footer pricing-card-footer">
            <a
              href="#"
              class="btn btn-lg btn-block btn-primary btn-card-footer disabled"
            >Get started</a>
          </div>
        </div>
        <div class="card mb-4 pricing-card text-white card-disable">
          <div class="card-header pricing-card-header">
            <h4 class="my-0 playfair-bold">Premium</h4>
          </div>
          <div class="card-body pricing-card-body">
            <h1 class="card-title pricing-card-title">
              $50
              <small>/ mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 Master Alias (with superpowers (soon))</li>
              <li>Even more superpowers (soon)</li>
              <li>Unlimited Disposable aliases</li>
              <li>Unlimited Permanent aliases</li>
              <li>Custom features</li>
              <li>Priority email support</li>
            </ul>
          </div>
          <div class="card-footer pricing-card-footer">
            <a href="#" class="btn btn-lg btn-block btn-primary btn-card-footer disabled">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Homepage",
  data: () => ({})
};
</script>

<style scoped>
</style>

