<template>
  <section id="signup" class="pt-5">
    <div class="container">
      <b-alert v-if="errors.length" show dismissible fade shadow-sm variant="danger">
        <h4 class="alert-heading">Please correct the following error(s):</h4>
        <ul class="list-unstyled mb-0">
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </ul>
      </b-alert>
    </div>
    <div class="px-3 py-4 pt-md-5 pb-md-5 mx-auto text-center">
      <h1 class="h1 mb-0 text-gray-800 playfair-bold">Sign Up</h1>
    </div>
    <div class="container">
      <div class="form-wrapper col-md-6 mx-auto">
        <form
          class="signup-form"
          method="post"
          action="https://api.mailcape.com/signup_check"
          @submit="checkForm"
        >
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="text"
              name="email"
              v-model="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="text"
              name="firstname"
              v-model="firstname"
              placeholder="Firstname"
            />
          </div>
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="text"
              name="lastname"
              v-model="lastname"
              placeholder="Lastname"
            />
          </div>
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="password"
              name="password"
              v-model="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group col-md-10 mx-auto">
            <input
              class="form-control"
              type="password"
              name="password_check"
              v-model="password_check"
              placeholder="Confirm password"
            />
          </div>
          <input class="btn-form-submit" type="submit" value="Signup" />
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Homepage",
  data: () => ({
    errors: [],
    email: "",
    firstname: "",
    lastname: "",
    password: "",
    password_check: ""
  }),
  methods: {
    checkForm: function(e) {
      if (!this.email) {
        this.errors.push("Email required.");
      }

      if (this.password != this.password_check) {
        this.errors.push("Passwords don't match.");
      }

      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    }
  }
};
</script>

<style scoped>
</style>

