<template>
  <div id="app">
    <nav-bar></nav-bar>
    <!-- <div transition="slide&#45;x&#45;transition"> -->
    <router-view></router-view>
    <!-- </div> -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import FooterBar from "@/components/FooterBar";

require("@/assets/css/style.css");
require("@/assets/css/custom.css");

export default {
  name: "App",
  components: {
    NavBar,
    FooterBar
  },
  data: () => ({
    //
  })
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-bottom: 70px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media (max-width: 575px) {
  #app {
    padding-bottom: 0;
  }
}
</style>
